# Homework #1

Remember: You must ingest the data to your notebooks directly from the data server. Also, don't write the same code with modifications to do similar things over and over again. Write a function.

## Question #1

For this question use the data [at this link](https://data.ibb.gov.tr/dataset/hourly-public-transport-data-set).

1. Calculate total hourly uses of different modes of transports (RAY, KARAYOLU, DENİZ) as pandas data frames for January 2021 and May 2021. Do you see any differences in usage patterns? Explain.
2. Calculate total hourly uses of different transfer types (AKTARMA, NORMAL) as pandas data frames for June 2020 and in September 2020.
3. Plot the results for step #1 and #2.
4. Calculate the daily totals for each line, and find out the busiest lines in each day of April 2020
5. Calculate the daily totals of passenger numbers and passage numbers, then calculate the daily ratios of passage numbers by passenger numbers for August 2020. What do the numbers tell you?

In [151]:
from xmltodict import parse
from urllib.request import urlopen

import  matplotlib.pyplot as plt
import xml.etree.ElementTree as ET
import seaborn as sns

import pandas as pd
import json
import yaml

import numpy as np

# 1) Q1

In [153]:
data_jan = pd.read_csv('https://data.ibb.gov.tr/dataset/a6855ce7-4092-40a5-82b5-34cf3c7e36e3/resource/004994f5-3a50-4721-8787-41d4940bdaee/download/hourly_transportation_202101.csv')
data_jan  # 2021 january dataset

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [ ]:
data_may = pd.read_csv("https://data.ibb.gov.tr/dataset/a6855ce7-4092-40a5-82b5-34cf3c7e36e3/resource/42b4a830-fee6-4765-9daf-3f3884f09b4b/download/hourly_transportation_202105.csv")
data_may # 2021 may dataset

,DATE_TIME,TRANSPORT_TYPE_ID,TRANSPORT_TYPE_DESC,LINE,TRANSFER_TYPE_ID,TRANSFER_TYPE,NUMBER_OF_PASSENGER,NUMBER_OF_PASSAGE
0,2021-05-01 14:00:00,2.0,RAY,KİRAZLI-OLİMPİYATKÖY,2,AKTARMA,88,88
1,2021-05-03 16:00:00,2.0,RAY,KABATAŞ-BAĞCILAR,2,NORMAL,5311,5356
2,2021-05-01 06:00:00,2.0,RAY,KİRAZLI-OLİMPİYATKÖY,2,AKTARMA,129,129
3,2021-05-03 12:00:00,2.0,RAY,KABATAŞ-BAĞCILAR,2,NORMAL,2574,2641
4,2021-05-03 07:00:00,2.0,RAY,TAKSİM-4.LEVENT,2,AKTARMA,1038,1038
...,...,...,...,...,...,...,...,...
1785,2021-05-02 15:00:00,3.0,DENİZ,MOTOR TEKNE,2,NORMAL,134,134
1786,2021-05-03 09:00:00,2.0,RAY,İETT TÜNEL,2,AKTARMA,29,29
1787,2021-05-02 09:00:00,3.0,DENİZ,MOTOR TEKNE,2,NORMAL,109,111
1788,2021-05-02 23:00:00,2.0,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,NORMAL,2,2
1789,2021-05-03 17:00:00,2.0,RAY,İETT TÜNEL,2,AKTARMA,21,23

In [ ]:
data_jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22127 entries, 0 to 22126
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            22127 non-null  object
 1   TRANSPORT_TYPE_ID    22127 non-null  int64
 2   TRANSPORT_TYPE_DESC  22127 non-null  object
 3   LINE                 22127 non-null  object
 4   TRANSFER_TYPE_ID     22127 non-null  int64
 5   TRANSFER_TYPE        22127 non-null  object
 6   NUMBER_OF_PASSENGER  22127 non-null  int64
 7   NUMBER_OF_PASSAGE    22127 non-null  int64
dtypes: int64(4), object(4)
memory usage: 1.4+ MB

In [ ]:
data_may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1790 entries, 0 to 1789
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   DATE_TIME            1790 non-null   object
 1   TRANSPORT_TYPE_ID    1787 non-null   float64
 2   TRANSPORT_TYPE_DESC  1787 non-null   object
 3   LINE                 1787 non-null   object
 4   TRANSFER_TYPE_ID     1790 non-null   int64
 5   TRANSFER_TYPE        1790 non-null   object
 6   NUMBER_OF_PASSENGER  1790 non-null   int64
 7   NUMBER_OF_PASSAGE    1790 non-null   int64
dtypes: float64(1), int64(3), object(4)
memory usage: 112.0+ KB

## ANSWER TO Q1 : only difference im seeing is transport_Type_ID column type is different and there is only 3 days of data in may

## date sort function and changing in dataframe

In [ ]:
def dateSort(data_month):
    return data_month.sort_values(by=["DATE_TIME"],inplace=True)
dateSort(data_jan)
dateSort(data_may)

## function for null check, sort value by column

In [ ]:
def  Nanvalues(data_mon):
    mon_null = data_mon.isnull().sum()
    return mon_null

In [ ]:
def sort_value(data_month,name):
    return data_month.sort_values(name,ascending=False)

 creating data frame for total passengers of different transportation types

In [ ]:
data_jan_sum = data_jan.groupby(["DATE_TIME","TRANSPORT_TYPE_DESC"],as_index=False)["NUMBER_OF_PASSENGER"].sum()
df_1 = pd.DataFrame(data_jan_sum)
df_1

                DATE_TIME TRANSPORT_TYPE_DESC  NUMBER_OF_PASSENGER
0     2021-01-01 00:00:00            KARAYOLU                  583
1     2021-01-01 00:00:00                 RAY                  247
2     2021-01-01 01:00:00               DENİZ                    1
3     2021-01-01 01:00:00            KARAYOLU                  182
4     2021-01-01 01:00:00                 RAY                    8
...                   ...                 ...                  ...
2205  2021-01-31 22:00:00            KARAYOLU                 3798
2206  2021-01-31 22:00:00                 RAY                 4354
2207  2021-01-31 23:00:00               DENİZ                   29
2208  2021-01-31 23:00:00            KARAYOLU                 1573
2209  2021-01-31 23:00:00                 RAY                 2433

[2210 rows x 3 columns]

In [ ]:
data_may_sum = data_may.groupby(["DATE_TIME","TRANSPORT_TYPE_DESC"],as_index=False)["NUMBER_OF_PASSENGER"].sum()
df_1.set_index(['NUMBER_OF_PASSENGER']) 
df_1 = pd.DataFrame(data_may_sum)
df_1

               DATE_TIME TRANSPORT_TYPE_DESC  NUMBER_OF_PASSENGER
0    2021-05-01 00:00:00               DENİZ                    4
1    2021-05-01 00:00:00            KARAYOLU                  814
2    2021-05-01 00:00:00                 RAY                   44
3    2021-05-01 01:00:00               DENİZ                    1
4    2021-05-01 01:00:00            KARAYOLU                  231
..                   ...                 ...                  ...
211  2021-05-03 22:00:00            KARAYOLU                 9612
212  2021-05-03 22:00:00                 RAY                  599
213  2021-05-03 23:00:00               DENİZ                   31
214  2021-05-03 23:00:00            KARAYOLU                 3522
215  2021-05-03 23:00:00                 RAY                  171

[216 rows x 3 columns]

In [ ]:
data_jan_sum = data_jan.groupby(["TRANSPORT_TYPE_DESC"],as_index=False)["NUMBER_OF_PASSENGER"].sum() # january 2021
df_1 = pd.DataFrame(data_jan_sum)
df_1["Percent"] = (df_1["NUMBER_OF_PASSENGER"] / df_1["NUMBER_OF_PASSENGER"].sum()*100)
df_1

  TRANSPORT_TYPE_DESC  NUMBER_OF_PASSENGER    Percent
0               DENİZ              1763773   2.372241
1            KARAYOLU             44635332  60.033680
2                 RAY             27951380  37.594079

In [ ]:
data_may_sum = data_may.groupby(["TRANSPORT_TYPE_DESC"],as_index=False)["NUMBER_OF_PASSENGER"].sum() # may 2021
df_1 = pd.DataFrame(data_may_sum)
df_1["percent"] = (df_1["NUMBER_OF_PASSENGER"] / df_1["NUMBER_OF_PASSENGER"].sum()*100)
df_1

  TRANSPORT_TYPE_DESC  NUMBER_OF_PASSENGER    percent
0               DENİZ                47448   1.793874
1            KARAYOLU              1823757  68.951063
2                 RAY               773797  29.255063

In [ ]:
#df_pivot = pd.pivot_table(data_jan, values="NUMBER_OF_PASSENGER",columns="TRANSPORT_TYPE_DESC")
#ax = df_pivot.plot(kind="bar",alpha=0.5)
#plt.show()

# 1) Q2
2. Calculate total hourly uses of different transfer types (AKTARMA, NORMAL) as pandas data frames for June 2020 and in September 2020.

In [ ]:
data_jun = pd.read_csv("https://data.ibb.gov.tr/dataset/a6855ce7-4092-40a5-82b5-34cf3c7e36e3/resource/4f1c434d-bd1f-4937-b88f-6e2df1a85dc5/download/hourly_transportation_202006.csv")
data_jun  # 2020 june dataset

,DATE_TIME,TRANSPORT_TYPE_ID,TRANSPORT_TYPE_DESC,LINE,TRANSFER_TYPE_ID,TRANSFER_TYPE,NUMBER_OF_PASSENGER,NUMBER_OF_PASSAGE
0,2020-06-07 08:00:00,2,RAY,KABATAŞ-BAĞCILAR,2,NORMAL,1829,1925
1,2020-06-07 22:00:00,2,RAY,KABATAŞ-BAĞCILAR,2,NORMAL,2669,3110
2,2020-06-23 05:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,AKTARMA,14,14
3,2020-06-28 11:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,AKTARMA,51,51
4,2020-06-26 18:00:00,2,RAY,MARMARAY,2,NORMAL,19160,19794
...,...,...,...,...,...,...,...,...
19829,2020-06-24 13:00:00,2,RAY,TAKSİM-KABATAŞ FUNİKULERİ,2,AKTARMA,62,63
19830,2020-06-22 08:00:00,2,RAY,LEVENT - RUMELİ HİSARÜSTÜ,2,AKTARMA,138,138
19831,2020-06-12 10:00:00,2,RAY,KABATAŞ-BAĞCILAR,2,AKTARMA,3430,3529
19832,2020-06-29 12:00:00,2,RAY,TAKSİM-KABATAŞ FUNİKULERİ,2,AKTARMA,103,106
19833,2020-06-25 18:00:00,2,RAY,TAKSİM-KABATAŞ FUNİKULERİ,2,AKTARMA,95,95

In [ ]:
data_sep = pd.read_csv("https://data.ibb.gov.tr/dataset/a6855ce7-4092-40a5-82b5-34cf3c7e36e3/resource/5b3b12b7-575d-4b55-b497-62e3b544edb0/download/hourly_transportation_202009.csv")
data_sep # 2020 september dataset

,DATE_TIME,TRANSPORT_TYPE_ID,TRANSPORT_TYPE_DESC,LINE,TRANSFER_TYPE_ID,TRANSFER_TYPE,NUMBER_OF_PASSENGER,NUMBER_OF_PASSAGE
0,2020-09-15 09:00:00,3,DENİZ,MOTOR TEKNE,2,AKTARMA,909,910
1,2020-09-16 09:00:00,2,RAY,TELEFERİK MAÇKA - TAŞKIŞLA,2,NORMAL,12,15
2,2020-09-15 12:00:00,2,RAY,KADIKÖY-MODA,2,NORMAL,84,88
3,2020-09-06 13:00:00,1,KARAYOLU,ÖHO,2,NORMAL,60045,69100
4,2020-09-26 13:00:00,2,RAY,TAKSİM-4.LEVENT,2,AKTARMA,3348,3379
...,...,...,...,...,...,...,...,...
22184,2020-09-28 12:00:00,3,DENİZ,ŞEHİR HATLARI,2,AKTARMA,1146,1147
22185,2020-09-29 23:00:00,2,RAY,KİRAZLI-OLİMPİYATKÖY,2,AKTARMA,17,17
22186,2020-09-08 13:00:00,2,RAY,TAKSİM-KABATAŞ FUNİKULERİ,2,AKTARMA,130,131
22187,2020-09-20 23:00:00,2,RAY,KİRAZLI-OLİMPİYATKÖY,2,AKTARMA,22,22
22188,2020-09-10 10:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,NORMAL,3575,3723

In [ ]:
dateSort(data_sep)
dateSort(data_jun)

function for groupby date time and transfer types

In [ ]:
def groupTransfertypes(data_month):
    data_month_transport_sum = data_month.groupby(["DATE_TIME","TRANSFER_TYPE"],as_index=False)["NUMBER_OF_PASSENGER"].sum() # january 2021
    return  pd.DataFrame(data_month_transport_sum)

In [ ]:
groupTransfertypes(data_jun)

                DATE_TIME TRANSFER_TYPE  NUMBER_OF_PASSENGER
0     2020-06-01 00:00:00        NORMAL                 1025
1     2020-06-01 01:00:00        NORMAL                  306
2     2020-06-01 02:00:00        NORMAL                  145
3     2020-06-01 03:00:00        NORMAL                   97
4     2020-06-01 04:00:00        NORMAL                  334
...                   ...           ...                  ...
1351  2020-06-30 21:00:00        NORMAL                97971
1352  2020-06-30 22:00:00       AKTARMA                11819
1353  2020-06-30 22:00:00        NORMAL                70535
1354  2020-06-30 23:00:00       AKTARMA                 5696
1355  2020-06-30 23:00:00        NORMAL                34176

[1356 rows x 3 columns]

In [ ]:
groupTransfertypes(data_sep)

                DATE_TIME TRANSFER_TYPE  NUMBER_OF_PASSENGER
0     2020-09-01 00:00:00       AKTARMA                  566
1     2020-09-01 00:00:00        NORMAL                 7198
2     2020-09-01 01:00:00       AKTARMA                    9
3     2020-09-01 01:00:00        NORMAL                 1906
4     2020-09-01 02:00:00        NORMAL                  960
...                   ...           ...                  ...
1373  2020-09-30 21:00:00        NORMAL               104426
1374  2020-09-30 22:00:00       AKTARMA                10946
1375  2020-09-30 22:00:00        NORMAL                82908
1376  2020-09-30 23:00:00       AKTARMA                 5777
1377  2020-09-30 23:00:00        NORMAL                40489

[1378 rows x 3 columns]

# 1) Q3 eksik

In [ ]:
#data_jan_transport_sum.plot(x = "TRANSPORT_TYPE_DESC", y = "NUMBER_OF_PASSENGER" , figsize=(18,6))
#plt.show()
#data_may_transport_sum.plot(x="DATE_TIME", y = ["NUMBER_OF_PASSENGER"],figsize=(18,6))
#plt.show()

# 1)Q4
4. Calculate the daily totals for each line, and find out the busiest lines in each day of April 2020

In [ ]:
data_apr = pd.read_csv('https://data.ibb.gov.tr/dataset/a6855ce7-4092-40a5-82b5-34cf3c7e36e3/resource/75e25417-36df-4822-8a18-578f0f7a584a/download/hourly_transportation_202004.csv')
data_apr # dataset april 2020

,DATE_TIME,TRANSPORT_TYPE_ID,TRANSPORT_TYPE_DESC,LINE,TRANSFER_TYPE_ID,TRANSFER_TYPE,NUMBER_OF_PASSENGER,NUMBER_OF_PASSAGE
0,2020-04-10 16:00:00,3,DENİZ,MOTOR TEKNE,2,NORMAL,667,704
1,2020-04-16 12:00:00,3,DENİZ,MOTOR TEKNE,2,AKTARMA,145,147
2,2020-04-17 14:00:00,2,RAY,AKSARAY-HAVALİMANI,2,AKTARMA,816,831
3,2020-04-16 00:00:00,2,RAY,AKSARAY-HAVALİMANI,2,NORMAL,5,5
4,2020-04-28 12:00:00,2,RAY,TAKSİM-4.LEVENT,2,NORMAL,1452,1543
...,...,...,...,...,...,...,...,...
15509,2020-04-17 08:00:00,3,DENİZ,ŞEHİR HATLARI,2,NORMAL,546,554
15510,2020-04-06 23:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,NORMAL,5,5
15511,2020-04-28 01:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,3,3
15512,2020-04-28 13:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,839,878
15513,2020-04-24 12:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,AKTARMA,11,11

In [ ]:
dateSort(data_apr)
data_apr

,DATE_TIME,TRANSPORT_TYPE_ID,TRANSPORT_TYPE_DESC,LINE,TRANSFER_TYPE_ID,TRANSFER_TYPE,NUMBER_OF_PASSENGER,NUMBER_OF_PASSAGE
12675,2020-04-01 00:00:00,2,RAY,LEVENT - RUMELİ HİSARÜSTÜ,2,NORMAL,6,6
5889,2020-04-01 00:00:00,2,RAY,EDİRNEKAPI-SULTANÇİFTLİĞİ,2,AKTARMA,6,6
11544,2020-04-01 00:00:00,2,RAY,KABATAŞ-BAĞCILAR,2,NORMAL,27,29
3114,2020-04-01 00:00:00,2,RAY,TAKSİM-4.LEVENT,2,AKTARMA,5,5
8752,2020-04-01 00:00:00,2,RAY,EDİRNEKAPI-SULTANÇİFTLİĞİ,2,NORMAL,62,63
...,...,...,...,...,...,...,...,...
1653,2020-04-30 23:00:00,1,KARAYOLU,METROBÜS,2,NORMAL,1734,1866
13500,2020-04-30 23:00:00,2,RAY,MARMARAY,2,AKTARMA,7,7
12686,2020-04-30 23:00:00,1,KARAYOLU,İETT,2,AKTARMA,70,70
14176,2020-04-30 23:00:00,2,RAY,KADIKÖY-KARTAL METROSU,2,NORMAL,1,1
8499,2020-04-30 23:00:00,3,DENİZ,ŞEHİR HATLARI,2,NORMAL,23,24

In [ ]:
data_apr1 = data_apr.groupby(["DATE_TIME","LINE"],as_index=False)["NUMBER_OF_PASSENGER"].sum()    # first step of dataframe for our target columns
df_apr = pd.DataFrame(data_apr1)
df_apr

                DATE_TIME                       LINE  NUMBER_OF_PASSENGER
0     2020-04-01 00:00:00         AKSARAY-HAVALİMANI                   84
1     2020-04-01 00:00:00  EDİRNEKAPI-SULTANÇİFTLİĞİ                   68
2     2020-04-01 00:00:00           KABATAŞ-BAĞCILAR                   40
3     2020-04-01 00:00:00     KADIKÖY-KARTAL METROSU                   24
4     2020-04-01 00:00:00       KİRAZLI-OLİMPİYATKÖY                    9
...                   ...                        ...                  ...
9083  2020-04-30 23:00:00                MOTOR TEKNE                    9
9084  2020-04-30 23:00:00                        ÖHO                 2070
9085  2020-04-30 23:00:00   ÜSKÜDAR ÇEKMEKÖY METROSU                    6
9086  2020-04-30 23:00:00                       İETT                  448
9087  2020-04-30 23:00:00              ŞEHİR HATLARI                   25

[9088 rows x 3 columns]

seperating time and date from DATE_TIME column

In [ ]:
from datetime import datetime

df_apr["TIME"] = pd.to_datetime(df_apr["DATE_TIME"]).dt.time
df_apr["DATE"] = pd.to_datetime(df_apr["DATE_TIME"]).dt.date
df_apr

,DATE_TIME,LINE,NUMBER_OF_PASSENGER,TIME,DATE
0,2020-04-01 00:00:00,AKSARAY-HAVALİMANI,84,00:00:00,2020-04-01
1,2020-04-01 00:00:00,EDİRNEKAPI-SULTANÇİFTLİĞİ,68,00:00:00,2020-04-01
2,2020-04-01 00:00:00,KABATAŞ-BAĞCILAR,40,00:00:00,2020-04-01
3,2020-04-01 00:00:00,KADIKÖY-KARTAL METROSU,24,00:00:00,2020-04-01
4,2020-04-01 00:00:00,KİRAZLI-OLİMPİYATKÖY,9,00:00:00,2020-04-01
...,...,...,...,...,...
9083,2020-04-30 23:00:00,MOTOR TEKNE,9,23:00:00,2020-04-30
9084,2020-04-30 23:00:00,ÖHO,2070,23:00:00,2020-04-30
9085,2020-04-30 23:00:00,ÜSKÜDAR ÇEKMEKÖY METROSU,6,23:00:00,2020-04-30
9086,2020-04-30 23:00:00,İETT,448,23:00:00,2020-04-30
9087,2020-04-30 23:00:00,ŞEHİR HATLARI,25,23:00:00,2020-04-30

In [ ]:
#df_apr = pd.DataFrame({'DATE':pd.date_range(start='2020-04-01',end='2020-04-02')})
#df_apr.DATE.dt.month

seperating day from date

In [ ]:
df_apr["DATE"] = pd.to_datetime(df_apr['DATE'])
df_apr['DAY'] = df_apr['DATE'].dt.strftime('%d')
#df_apr = df_apr.reindex(columns=["DATE_TIME","LINE","TIME","DATE","DAY","NUMBER_OF_PASSENGER"])
#df_apr.drop("DATE_TIME",inplace=True,axis=1)
df_apr

,DATE_TIME,LINE,NUMBER_OF_PASSENGER,TIME,DATE,DAY
0,2020-04-01 00:00:00,AKSARAY-HAVALİMANI,84,00:00:00,2020-04-01,01
1,2020-04-01 00:00:00,EDİRNEKAPI-SULTANÇİFTLİĞİ,68,00:00:00,2020-04-01,01
2,2020-04-01 00:00:00,KABATAŞ-BAĞCILAR,40,00:00:00,2020-04-01,01
3,2020-04-01 00:00:00,KADIKÖY-KARTAL METROSU,24,00:00:00,2020-04-01,01
4,2020-04-01 00:00:00,KİRAZLI-OLİMPİYATKÖY,9,00:00:00,2020-04-01,01
...,...,...,...,...,...,...
9083,2020-04-30 23:00:00,MOTOR TEKNE,9,23:00:00,2020-04-30,30
9084,2020-04-30 23:00:00,ÖHO,2070,23:00:00,2020-04-30,30
9085,2020-04-30 23:00:00,ÜSKÜDAR ÇEKMEKÖY METROSU,6,23:00:00,2020-04-30,30
9086,2020-04-30 23:00:00,İETT,448,23:00:00,2020-04-30,30
9087,2020-04-30 23:00:00,ŞEHİR HATLARI,25,23:00:00,2020-04-30,30

## DAILY TOTALS FOR EACH LINE

In [ ]:
data_apr1 = df_apr.groupby(["DAY","LINE"],as_index=False)["NUMBER_OF_PASSENGER"].sum().sort_values(by=["NUMBER_OF_PASSENGER"],ascending=False)
data_apr1

    DAY                        LINE  NUMBER_OF_PASSENGER
416  27                         ÖHO               421725
461  30                         ÖHO               414726
343  22                         ÖHO               411023
313  20                         ÖHO               400725
446  29                         ÖHO               393924
..   ..                         ...                  ...
191  12  TELEFERİK MAÇKA - TAŞKIŞLA                    1
115  07    TELEFERİK EYÜP PİYERLOTİ                    1
358  23  TELEFERİK MAÇKA - TAŞKIŞLA                    1
269  17    TELEFERİK EYÜP PİYERLOTİ                    1
195  12                  İETT TÜNEL                    1

[466 rows x 3 columns]

### BUSIEST LINE IN EACH DAY

In [ ]:
busy_Line = data_apr1.drop_duplicates("DAY")
busy_Line

    DAY  LINE  NUMBER_OF_PASSENGER
416  27   ÖHO               421725
461  30   ÖHO               414726
343  22   ÖHO               411023
313  20   ÖHO               400725
446  29   ÖHO               393924
431  28   ÖHO               388523
328  21   ÖHO               388312
270  17   ÖHO               374972
209  13   ÖHO               357637
254  16   ÖHO               352374
12   01   ÖHO               350599
48   03   ÖHO               341859
224  14   ÖHO               341491
161  10   ÖHO               337263
30   02   ÖHO               326565
100  06   ÖHO               326333
239  15   ÖHO               321957
116  07   ÖHO               321206
146  09   ÖHO               320074
131  08   ÖHO               319022
66   04   ÖHO               254928
84   05   ÖHO               161687
375  24  İETT                71690
361  23  İETT                67310
389  25  İETT                37750
404  26  İETT                31878
287  18  İETT                25278
301  19  İETT                21932
178  11  İETT                19713
194  12  İETT                15959

In [ ]:
busy_day1 = data_apr1.drop_duplicates("LINE")  # every line's busiest day
busy_day1

    DAY                        LINE  NUMBER_OF_PASSENGER
416  27                         ÖHO               421725
418  27                        İETT               221339
458  30                    METROBÜS               149662
406  27          AKSARAY-HAVALİMANI                68932
412  27                    MARMARAY                68776
408  27            KABATAŞ-BAĞCILAR                68488
415  27             TAKSİM-4.LEVENT                45673
407  27   EDİRNEKAPI-SULTANÇİFTLİĞİ                39689
417  27    ÜSKÜDAR ÇEKMEKÖY METROSU                26704
409  27      KADIKÖY-KARTAL METROSU                26439
410  27        KİRAZLI-OLİMPİYATKÖY                15337
420  27               ŞEHİR HATLARI                13232
459  30                 MOTOR TEKNE                12626
24   02   LEVENT - RUMELİ HİSARÜSTÜ                 1121
419  27                  İETT TÜNEL                 1019
11   01   TAKSİM-KABATAŞ FUNİKULERİ                  399
4    01                KADIKÖY-MODA                  124
15   01      İETT NOSTALJİK TRAMVAY                   25
207  13    TELEFERİK EYÜP PİYERLOTİ                    7
208  13  TELEFERİK MAÇKA - TAŞKIŞLA                    4

# 1) Q5
5. Calculate the daily totals of passenger numbers and passage numbers, then calculate the daily ratios of passage numbers by passenger numbers for August 2020. What do the numbers tell you?

In [ ]:
data_aug = pd.read_csv('https://data.ibb.gov.tr/dataset/a6855ce7-4092-40a5-82b5-34cf3c7e36e3/resource/a195a42f-727a-4f1e-ad55-471306788c99/download/hourly_transportation_202008.csv')
data_aug # dataset aug 2020

,DATE_TIME,TRANSPORT_TYPE_ID,TRANSPORT_TYPE_DESC,LINE,TRANSFER_TYPE_ID,TRANSFER_TYPE,NUMBER_OF_PASSENGER,NUMBER_OF_PASSAGE
0,2020-08-31 20:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,AKTARMA,1599,1606
1,2020-08-24 15:00:00,2,RAY,TAKSİM-KABATAŞ FUNİKULERİ,2,AKTARMA,159,162
2,2020-08-27 11:00:00,2,RAY,LEVENT - RUMELİ HİSARÜSTÜ,2,AKTARMA,87,88
3,2020-08-16 06:00:00,2,RAY,KABATAŞ-BAĞCILAR,2,AKTARMA,224,227
4,2020-08-29 07:00:00,2,RAY,TAKSİM-KABATAŞ FUNİKULERİ,2,AKTARMA,25,25
...,...,...,...,...,...,...,...,...
22605,2020-08-10 13:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,NORMAL,4052,4360
22606,2020-08-18 15:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,NORMAL,4280,4586
22607,2020-08-15 09:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,NORMAL,3334,3436
22608,2020-08-28 07:00:00,3,DENİZ,ŞEHİR HATLARI,2,NORMAL,3236,3320
22609,2020-08-10 20:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,AKTARMA,1596,1603

In [ ]:
data_aug["TIME"] = pd.to_datetime(data_aug["DATE_TIME"]).dt.time
data_aug["DATE"] = pd.to_datetime(data_aug["DATE_TIME"]).dt.date
data_aug["DATE"] = pd.to_datetime(data_aug['DATE'])
data_aug['DAY'] = data_aug['DATE'].dt.strftime('%d')
data_aug

,DATE_TIME,TRANSPORT_TYPE_ID,TRANSPORT_TYPE_DESC,LINE,TRANSFER_TYPE_ID,TRANSFER_TYPE,NUMBER_OF_PASSENGER,NUMBER_OF_PASSAGE,TIME,DATE,DAY
0,2020-08-31 20:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,AKTARMA,1599,1606,20:00:00,2020-08-31,31
1,2020-08-24 15:00:00,2,RAY,TAKSİM-KABATAŞ FUNİKULERİ,2,AKTARMA,159,162,15:00:00,2020-08-24,24
2,2020-08-27 11:00:00,2,RAY,LEVENT - RUMELİ HİSARÜSTÜ,2,AKTARMA,87,88,11:00:00,2020-08-27,27
3,2020-08-16 06:00:00,2,RAY,KABATAŞ-BAĞCILAR,2,AKTARMA,224,227,06:00:00,2020-08-16,16
4,2020-08-29 07:00:00,2,RAY,TAKSİM-KABATAŞ FUNİKULERİ,2,AKTARMA,25,25,07:00:00,2020-08-29,29
...,...,...,...,...,...,...,...,...,...,...,...
22605,2020-08-10 13:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,NORMAL,4052,4360,13:00:00,2020-08-10,10
22606,2020-08-18 15:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,NORMAL,4280,4586,15:00:00,2020-08-18,18
22607,2020-08-15 09:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,NORMAL,3334,3436,09:00:00,2020-08-15,15
22608,2020-08-28 07:00:00,3,DENİZ,ŞEHİR HATLARI,2,NORMAL,3236,3320,07:00:00,2020-08-28,28
22609,2020-08-10 20:00:00,2,RAY,ÜSKÜDAR ÇEKMEKÖY METROSU,2,AKTARMA,1596,1603,20:00:00,2020-08-10,10

In [ ]:
df_aug1 = data_aug.groupby(["DAY"],as_index=False)["NUMBER_OF_PASSENGER","NUMBER_OF_PASSAGE"].apply(lambda x : x.astype(int).sum())
df_aug1

C:\Users\ozden\AppData\Local\Temp\ipykernel_18940\342663849.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_aug1 = data_aug.groupby(["DAY"],as_index=False)["NUMBER_OF_PASSENGER","NUMBER_OF_PASSAGE"].apply(lambda x : x.astype(int).sum())

   DAY  NUMBER_OF_PASSENGER  NUMBER_OF_PASSAGE
0   01              3175625            3864568
1   02              3353801            4051211
2   03              3326812            3902550
3   04              3388301            3645945
4   05              3490563            3743044
5   06              3495338            3742428
6   07              3520707            3770262
7   08              2984185            3240121
8   09              2304881            2558633
9   10              3739536            3998987
10  11              3727450            3983955
11  12              3711349            3963809
12  13              3665751            3913821
13  14              3704884            3956312
14  15              3176187            3451771
15  16              2449474            2728010
16  17              3813937            4075992
17  18              3774340            4030906
18  19              3762787            4013766
19  20              3598172            3833265
20  21              3716955            3964267
21  22              3231423            3507748
22  23              2400991            2674945
23  24              3879249            4138881
24  25              3876156            4131820
25  26              3848699            4099124
26  27              3846006            4094979
27  28              3874685            4126934
28  29              3207372            3475306
29  30              3005758            3432231
30  31              3925466            4181880

In [ ]:
df_aug1["ratio"] = (df_aug1["NUMBER_OF_PASSENGER"] / df_aug1["NUMBER_OF_PASSAGE"])*100
df_aug1

   DAY  NUMBER_OF_PASSENGER  NUMBER_OF_PASSAGE      ratio
0   01              3175625            3864568  82.172833
1   02              3353801            4051211  82.785147
2   03              3326812            3902550  85.247133
3   04              3388301            3645945  92.933410
4   05              3490563            3743044  93.254661
5   06              3495338            3742428  93.397602
6   07              3520707            3770262  93.380964
7   08              2984185            3240121  92.101036
8   09              2304881            2558633  90.082517
9   10              3739536            3998987  93.512082
10  11              3727450            3983955  93.561549
11  12              3711349            3963809  93.630874
12  13              3665751            3913821  93.661693
13  14              3704884            3956312  93.644889
14  15              3176187            3451771  92.016156
15  16              2449474            2728010  89.789773
16  17              3813937            4075992  93.570768
17  18              3774340            4030906  93.635029
18  19              3762787            4013766  93.747045
19  20              3598172            3833265  93.867030
20  21              3716955            3964267  93.761470
21  22              3231423            3507748  92.122439
22  23              2400991            2674945  89.758518
23  24              3879249            4138881  93.727000
24  25              3876156            4131820  93.812315
25  26              3848699            4099124  93.890768
26  27              3846006            4094979  93.920042
27  28              3874685            4126934  93.887738
28  29              3207372            3475306  92.290348
29  30              3005758            3432231  87.574467
30  31              3925466            4181880  93.868452

answer : if we consider some people accidentally used istanbul kart extra then people are not illegaly passing turnstiles at the start of the month

# Question #2

For this question use the data [at this link](https://alaska.usgs.gov/products/data.php?dataid=522). This dataset contains isotope values of muscle tissue from fish collected in the nearshore Beaufort Sea, Alaska in summers 2017-2019.

1. Calculate the average lengths of fish sampled at each location in the years 2017, 2018 and 2019.
2. Can you statistically observe any differences in lengths between the years 2018 and 2019?
3. Calculate the average concentration of C13 and N15 for the samples collected at each location in the years 2017, 2018 and 2019.
4. Can you statistically observe any differences in C13 and N15 concentrations between the years 2018 and 2019?
5. Can we do the same comparisons for the year 2017 against 2018 or 2019? Why doesn't this work? What should we do to make these comparisons to work?

In [ ]:
import zipfile
from urllib.request import urlopen
import shutil


url = 'https://alaska.usgs.gov/data/aquaticEcology/fish/fish_stableIsotopes_beaufort_stanek/fish_stableIsotopes_beaufort_stanek.zip'
file_name = 'fish_stableIsotopes_beaufort_stanek.zip'

# extracting zipfile from URL
with urlopen(url) as response, open(file_name, 'wb') as out_file:
    shutil.copyfileobj(response, out_file)

    # extracting required file from zipfile
    with zipfile.ZipFile(file_name) as zf:
        zf.extract('fish_stableIsotopes_beaufort_stanek.csv')

# deleting the zipfile from the directory

# loading data from the file
data_fish = pd.read_csv('fish_stableIsotopes_beaufort_stanek.csv')
data_fish

,FishID,CommonName,Date,Region,Location,Latitude,Longitude,mmLength,d13C,d15N,CtoN
0,ARCI005,Arctic Cisco,2018-08-11,eastern,Kaktovik Lagoon,70.0907,-143.6593,323.0,-22.37,14.45,3.88
1,ARCI014,Arctic Cisco,2018-08-12,eastern,Kaktovik Lagoon,70.0907,-143.6593,128.0,-25.68,8.55,4.16
2,ARCI021,Arctic Cisco,2017-08-06,eastern,Kaktovik Lagoon,70.0907,-143.6593,48.0,-25.75,9.78,4.61
3,ARCI038,Arctic Cisco,2017-08-05,eastern,Kaktovik Lagoon,70.0907,-143.6593,57.0,-25.61,9.69,5.90
4,ARCI040,Arctic Cisco,2017-08-09,eastern,Kaktovik Lagoon,70.0907,-143.6593,79.0,-24.88,10.04,4.01
...,...,...,...,...,...,...,...,...,...,...,...
787,THST009,Threespine Stickleback,2019-07-22,central,Simpson Lagoon,70.5156,-149.4676,82.0,-20.51,12.93,3.88
788,THST010,Threespine Stickleback,2019-07-22,central,Simpson Lagoon,70.5156,-149.4676,78.0,-19.99,14.16,3.98
789,THST011,Threespine Stickleback,2019-07-28,central,Simpson Lagoon,70.4986,-149.5987,74.0,-20.23,13.63,3.79
790,THST012,Threespine Stickleback,2019-07-28,central,Simpson Lagoon,70.4986,-149.5987,82.0,-20.21,14.04,4.02
791,THST013,Threespine Stickleback,2019-08-13,eastern,Jago Lagoon,70.0870,-143.4750,77.0,-20.33,14.04,3.98

In [ ]:
data_fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FishID      792 non-null    object
 1   CommonName  792 non-null    object
 2   Date        791 non-null    object
 3   Region      792 non-null    object
 4   Location    792 non-null    object
 5   Latitude    792 non-null    object
 6   Longitude   792 non-null    object
 7   mmLength    791 non-null    float64
 8   d13C        792 non-null    float64
 9   d15N        792 non-null    float64
 10  CtoN        792 non-null    object
dtypes: float64(3), object(8)
memory usage: 68.2+ KB

creating new column for only year

In [ ]:
data_fish["Date"] = pd.to_datetime(data_fish['Date'])
data_fish['Year'] = data_fish['Date'].dt.strftime('%Y')
data_fish

,FishID,CommonName,Date,Region,Location,Latitude,Longitude,mmLength,d13C,d15N,CtoN,Year
0,ARCI005,Arctic Cisco,2018-08-11,eastern,Kaktovik Lagoon,70.0907,-143.6593,323.0,-22.37,14.45,3.88,2018
1,ARCI014,Arctic Cisco,2018-08-12,eastern,Kaktovik Lagoon,70.0907,-143.6593,128.0,-25.68,8.55,4.16,2018
2,ARCI021,Arctic Cisco,2017-08-06,eastern,Kaktovik Lagoon,70.0907,-143.6593,48.0,-25.75,9.78,4.61,2017
3,ARCI038,Arctic Cisco,2017-08-05,eastern,Kaktovik Lagoon,70.0907,-143.6593,57.0,-25.61,9.69,5.90,2017
4,ARCI040,Arctic Cisco,2017-08-09,eastern,Kaktovik Lagoon,70.0907,-143.6593,79.0,-24.88,10.04,4.01,2017
...,...,...,...,...,...,...,...,...,...,...,...,...
787,THST009,Threespine Stickleback,2019-07-22,central,Simpson Lagoon,70.5156,-149.4676,82.0,-20.51,12.93,3.88,2019
788,THST010,Threespine Stickleback,2019-07-22,central,Simpson Lagoon,70.5156,-149.4676,78.0,-19.99,14.16,3.98,2019
789,THST011,Threespine Stickleback,2019-07-28,central,Simpson Lagoon,70.4986,-149.5987,74.0,-20.23,13.63,3.79,2019
790,THST012,Threespine Stickleback,2019-07-28,central,Simpson Lagoon,70.4986,-149.5987,82.0,-20.21,14.04,4.02,2019
791,THST013,Threespine Stickleback,2019-08-13,eastern,Jago Lagoon,70.0870,-143.4750,77.0,-20.33,14.04,3.98,2019

In [ ]:
data_fish[data_fish["Date"].isna()]

,FishID,CommonName,Date,Region,Location,Latitude,Longitude,mmLength,d13C,d15N,CtoN,Year
77,ARCO019,Arctic Cod,NaT,central,Stefansson Sound,NA,NA,117.0,-22.38,14.8,3.97,NaN

In [ ]:
df_1 = data_fish.groupby(["Location","Year"],as_index=False)["mmLength"].mean()
df_1

           Location  Year    mmLength
0       Jago Lagoon  2017  265.485714
1       Jago Lagoon  2018  275.125000
2       Jago Lagoon  2019  299.181818
3   Kaktovik Lagoon  2017  154.469697
4   Kaktovik Lagoon  2018  254.647727
5   Kaktovik Lagoon  2019  274.212121
6    Simpson Lagoon  2018  202.634146
7    Simpson Lagoon  2019  217.428571
8  Stefansson Sound  2018  220.860656
9  Stefansson Sound  2019  235.557143

yes, mean length of fish got way bigger between years in 2018 and 2019

## 2) Q3

In [ ]:
df_2 = data_fish.groupby(["Location","Year"],as_index=False)["d13C","d15N"].apply(lambda x : x.mean())
df_2

C:\Users\ozden\AppData\Local\Temp\ipykernel_18940\660003584.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_2 = data_fish.groupby(["Location","Year"],as_index=False)["d13C","d15N"].apply(lambda x : x.mean())

           Location  Year       d13C       d15N
0       Jago Lagoon  2017 -21.995000  13.236000
1       Jago Lagoon  2018 -21.835083  13.830750
2       Jago Lagoon  2019 -21.864545  12.440545
3   Kaktovik Lagoon  2017 -20.663636  13.163030
4   Kaktovik Lagoon  2018 -20.745341  14.442500
5   Kaktovik Lagoon  2019 -20.207576  13.898485
6    Simpson Lagoon  2018 -22.200976  13.133659
7    Simpson Lagoon  2019 -21.727412  13.078941
8  Stefansson Sound  2018 -22.909836  12.842951
9  Stefansson Sound  2019 -21.830429  13.308857

In [ ]:
df_3 = data_fish.groupby(["Location","Year"]).agg({'d13C' : 'describe',
                                                   'd15N' : 'describe',
                                                   'mmLength' : 'mean'})
df_3

                        d13C                                               \
                       count       mean       std    min      25%     50%
Location         Year
Jago Lagoon      2017   70.0 -21.995000  2.733221 -27.07 -24.3775 -21.765
                 2018  120.0 -21.835083  2.506491 -32.77 -23.0650 -21.725
                 2019   55.0 -21.864545  3.600690 -34.08 -22.5750 -20.940
Kaktovik Lagoon  2017   66.0 -20.663636  2.451620 -31.77 -20.6300 -19.805
                 2018   88.0 -20.745341  2.832360 -34.11 -21.5825 -19.795
                 2019   33.0 -20.207576  1.431926 -23.98 -21.0200 -19.790
Simpson Lagoon   2018   82.0 -22.200976  1.385975 -27.96 -22.9975 -21.805
                 2019   85.0 -21.727412  1.560935 -29.81 -22.0000 -21.510
Stefansson Sound 2018  122.0 -22.909836  2.410051 -32.58 -23.1800 -22.305
                 2019   70.0 -21.830429  1.045373 -26.42 -22.3950 -21.595

                                        d15N                              \
                           75%    max  count       mean       std    min
Location         Year
Jago Lagoon      2017 -19.7000 -17.70   70.0  13.236000  1.773499   8.94
                 2018 -20.0350 -18.22  120.0  13.830750  2.025132   7.09
                 2019 -19.4450 -18.29   55.0  12.440545  2.630271   6.80
Kaktovik Lagoon  2017 -19.2425 -17.90   66.0  13.163030  1.498717   9.00
                 2018 -18.9875 -17.30   88.0  14.442500  1.749360   8.55
                 2019 -19.2600 -18.04   33.0  13.898485  1.522240  10.55
Simpson Lagoon   2018 -21.2300 -19.33   82.0  13.133659  2.167727   8.27
                 2019 -20.7600 -19.57   85.0  13.078941  2.234408   7.77
Stefansson Sound 2018 -21.5450 -18.70  122.0  12.842951  2.752675   6.78
                 2019 -21.1025 -20.21   70.0  13.308857  1.991464   8.82

                                                         mmLength
                           25%     50%     75%    max    mmLength
Location         Year
Jago Lagoon      2017  11.9075  13.605  14.640  16.96  265.485714
                 2018  12.7550  14.300  15.100  17.52  275.125000
                 2019  10.1200  12.820  14.865  16.26  299.181818
Kaktovik Lagoon  2017  13.1175  13.540  13.860  16.25  154.469697
                 2018  13.6050  14.570  15.630  17.80  254.647727
                 2019  13.0800  14.370  15.090  16.65  274.212121
Simpson Lagoon   2018  11.9900  12.925  14.575  17.69  202.634146
                 2019  11.0900  13.230  14.200  17.70  217.428571
Stefansson Sound 2018  10.9325  13.085  14.930  17.93  220.860656
                 2019  11.7550  13.965  14.785  16.89  235.557143

first of all, number of fish decreased after year 2018 that caused bigger length of fish and isotopes of C13 got bigger on the other hand N15 isotopes got bigger except Stefansson Sound
we can only compare year 2017 in fwe locations because we don't have any data on other locations