# Homework #1

Remember: You must ingest the data to your notebooks directly from the data server. Also, don't write the same code with modifications to do similar things over and over again. Write a function.

## Question #1

For this question use the data [at this link](https://data.ibb.gov.tr/dataset/hourly-public-transport-data-set).

1. Calculate total hourly uses of different modes of transports (RAY, KARAYOLU, DENÄ°Z) as pandas data frames for January 2021 and May 2021. Do you see any differences in usage patterns? Explain.
2. Calculate total hourly uses of different transfer types (AKTARMA, NORMAL) as pandas data frames for June 2020 and in September 2020.
3. Plot the results for step #1 and #2.
4. Calculate the daily totals for each line, and find out the busiest lines in each day of April 2020
5. Calculate the daily totals of passenger numbers and passage numbers, then calculate the daily ratios of passage numbers by passenger numbers for August 2020. What do the numbers tell you?

In [ ]:
from xmltodict import parse
from urllib.request import urlopen

import  matplotlib.pyplot as plt
import xml.etree.ElementTree as ET
import seaborn as sns

import pandas as pd
import json
import yaml

import numpy as np

# 1) Q1

In [ ]:
data_jan = pd.read_csv('https://data.ibb.gov.tr/dataset/a6855ce7-4092-40a5-82b5-34cf3c7e36e3/resource/004994f5-3a50-4721-8787-41d4940bdaee/download/hourly_transportation_202101.csv')
data_jan  # 2021 january dataset

In [ ]:
data_may = pd.read_csv("https://data.ibb.gov.tr/dataset/a6855ce7-4092-40a5-82b5-34cf3c7e36e3/resource/42b4a830-fee6-4765-9daf-3f3884f09b4b/download/hourly_transportation_202105.csv")
data_may # 2021 may dataset

In [ ]:
data_jan.info()

In [ ]:
data_may.info()

## ANSWER TO Q1 : only difference im seeing is transport_Type_ID column type is different and there is only 3 days of data in may

## date sort function and changing in dataframe

In [ ]:
def dateSort(data_month):
    return data_month.sort_values(by=["DATE_TIME"],inplace=True)
dateSort(data_jan)
dateSort(data_may)

## function for null check, sort value by column

In [ ]:
def  Nanvalues(data_mon):
    mon_null = data_mon.isnull().sum()
    return mon_null

In [ ]:
def sort_value(data_month,name):
    return data_month.sort_values(name,ascending=False)

 creating data frame for total passengers of different transportation types

In [ ]:
data_jan_sum = data_jan.groupby(["DATE_TIME","TRANSPORT_TYPE_DESC"],as_index=False)["NUMBER_OF_PASSENGER"].sum()
df_1 = pd.DataFrame(data_jan_sum)
df_1

In [ ]:
data_may_sum = data_may.groupby(["DATE_TIME","TRANSPORT_TYPE_DESC"],as_index=False)["NUMBER_OF_PASSENGER"].sum()
df_1.set_index(['NUMBER_OF_PASSENGER']) 
df_1 = pd.DataFrame(data_may_sum)
df_1

In [ ]:
data_jan_sum = data_jan.groupby(["TRANSPORT_TYPE_DESC"],as_index=False)["NUMBER_OF_PASSENGER"].sum() # january 2021
df_1 = pd.DataFrame(data_jan_sum)
df_1["Percent"] = (df_1["NUMBER_OF_PASSENGER"] / df_1["NUMBER_OF_PASSENGER"].sum()*100)
df_1

In [ ]:
data_may_sum = data_may.groupby(["TRANSPORT_TYPE_DESC"],as_index=False)["NUMBER_OF_PASSENGER"].sum() # may 2021
df_1 = pd.DataFrame(data_may_sum)
df_1["percent"] = (df_1["NUMBER_OF_PASSENGER"] / df_1["NUMBER_OF_PASSENGER"].sum()*100)
df_1

In [ ]:
#df_pivot = pd.pivot_table(data_jan, values="NUMBER_OF_PASSENGER",columns="TRANSPORT_TYPE_DESC")
#ax = df_pivot.plot(kind="bar",alpha=0.5)
#plt.show()

# 1) Q2
2. Calculate total hourly uses of different transfer types (AKTARMA, NORMAL) as pandas data frames for June 2020 and in September 2020.

In [ ]:
data_jun = pd.read_csv("https://data.ibb.gov.tr/dataset/a6855ce7-4092-40a5-82b5-34cf3c7e36e3/resource/4f1c434d-bd1f-4937-b88f-6e2df1a85dc5/download/hourly_transportation_202006.csv")
data_jun  # 2020 june dataset

In [ ]:
data_sep = pd.read_csv("https://data.ibb.gov.tr/dataset/a6855ce7-4092-40a5-82b5-34cf3c7e36e3/resource/5b3b12b7-575d-4b55-b497-62e3b544edb0/download/hourly_transportation_202009.csv")
data_sep # 2020 september dataset

In [ ]:
dateSort(data_sep)
dateSort(data_jun)

In [ ]:
data_jun_sum = data_jun.groupby(["DATE_TIME","TRANSFER_TYPE"],as_index=False)["NUMBER_OF_PASSENGER"].sum()
data_jun_sum

In [ ]:
data_sep_sum = data_sep.groupby(["DATE_TIME","TRANSFER_TYPE"],as_index=False)["NUMBER_OF_PASSENGER"].sum()
data_sep_sum

# 1) Q3

In [ ]:
sns.set(rc={'figure.figsize':(11.7,8.27)})
sns.lineplot(data=data_jan_sum, x='DATE_TIME', y='NUMBER_OF_PASSENGER', hue='TRANSPORT_TYPE_DESC')

In [ ]:
sns.lineplot(data=data_may_sum, x='DATE_TIME', y='NUMBER_OF_PASSENGER', hue='TRANSPORT_TYPE_DESC')

In [ ]:
sns.lineplot(data=data_jun_sum, x='DATE_TIME', y='NUMBER_OF_PASSENGER', hue='TRANSFER_TYPE')

In [ ]:
sns.lineplot(data=data_sep_sum, x='DATE_TIME', y='NUMBER_OF_PASSENGER', hue='TRANSFER_TYPE')

# 1)Q4
4. Calculate the daily totals for each line, and find out the busiest lines in each day of April 2020

In [ ]:
data_apr = pd.read_csv('https://data.ibb.gov.tr/dataset/a6855ce7-4092-40a5-82b5-34cf3c7e36e3/resource/75e25417-36df-4822-8a18-578f0f7a584a/download/hourly_transportation_202004.csv')
data_apr # dataset april 2020

In [ ]:
dateSort(data_apr)
data_apr

In [ ]:
data_apr1 = data_apr.groupby(["DATE_TIME","LINE"],as_index=False)["NUMBER_OF_PASSENGER"].sum()    # first step of dataframe for our target columns
df_apr = pd.DataFrame(data_apr1)
df_apr

seperating time and date from DATE_TIME column

In [ ]:
from datetime import datetime

df_apr["TIME"] = pd.to_datetime(df_apr["DATE_TIME"]).dt.time
df_apr["DATE"] = pd.to_datetime(df_apr["DATE_TIME"]).dt.date
df_apr

In [ ]:
#df_apr = pd.DataFrame({'DATE':pd.date_range(start='2020-04-01',end='2020-04-02')})
#df_apr.DATE.dt.month

seperating day from date

In [ ]:
df_apr["DATE"] = pd.to_datetime(df_apr['DATE'])
df_apr['DAY'] = df_apr['DATE'].dt.strftime('%d')
#df_apr = df_apr.reindex(columns=["DATE_TIME","LINE","TIME","DATE","DAY","NUMBER_OF_PASSENGER"])
#df_apr.drop("DATE_TIME",inplace=True,axis=1)
df_apr

## DAILY TOTALS FOR EACH LINE

In [ ]:
data_apr1 = df_apr.groupby(["DAY","LINE"],as_index=False)["NUMBER_OF_PASSENGER"].sum().sort_values(by=["NUMBER_OF_PASSENGER"],ascending=False)
data_apr1

### BUSIEST LINE IN EACH DAY

In [ ]:
busy_Line = data_apr1.drop_duplicates("DAY")
busy_Line

In [ ]:
busy_day1 = data_apr1.drop_duplicates("LINE")  # every line's busiest day
busy_day1

# 1) Q5
5. Calculate the daily totals of passenger numbers and passage numbers, then calculate the daily ratios of passage numbers by passenger numbers for August 2020. What do the numbers tell you?

In [ ]:
data_aug = pd.read_csv('https://data.ibb.gov.tr/dataset/a6855ce7-4092-40a5-82b5-34cf3c7e36e3/resource/a195a42f-727a-4f1e-ad55-471306788c99/download/hourly_transportation_202008.csv')
data_aug # dataset aug 2020

In [ ]:
data_aug["TIME"] = pd.to_datetime(data_aug["DATE_TIME"]).dt.time
data_aug["DATE"] = pd.to_datetime(data_aug["DATE_TIME"]).dt.date
data_aug["DATE"] = pd.to_datetime(data_aug['DATE'])
data_aug['DAY'] = data_aug['DATE'].dt.strftime('%d')
data_aug

In [ ]:
df_aug1 = data_aug.groupby(["DAY"],as_index=False)["NUMBER_OF_PASSENGER","NUMBER_OF_PASSAGE"].apply(lambda x : x.astype(int).sum())
df_aug1

In [ ]:
df_aug1["ratio"] = (df_aug1["NUMBER_OF_PASSENGER"] / df_aug1["NUMBER_OF_PASSAGE"])*100
df_aug1

answer : if we consider some people accidentally used istanbul kart extra then people are not illegaly passing turnstiles at the start of the month

# Question #2

For this question use the data [at this link](https://alaska.usgs.gov/products/data.php?dataid=522). This dataset contains isotope values of muscle tissue from fish collected in the nearshore Beaufort Sea, Alaska in summers 2017-2019.

1. Calculate the average lengths of fish sampled at each location in the years 2017, 2018 and 2019.
2. Can you statistically observe any differences in lengths between the years 2018 and 2019?
3. Calculate the average concentration of C13 and N15 for the samples collected at each location in the years 2017, 2018 and 2019.
4. Can you statistically observe any differences in C13 and N15 concentrations between the years 2018 and 2019?
5. Can we do the same comparisons for the year 2017 against 2018 or 2019? Why doesn't this work? What should we do to make these comparisons to work?

In [ ]:
import zipfile
from urllib.request import urlopen
import shutil


url = 'https://alaska.usgs.gov/data/aquaticEcology/fish/fish_stableIsotopes_beaufort_stanek/fish_stableIsotopes_beaufort_stanek.zip'
file_name = 'fish_stableIsotopes_beaufort_stanek.zip'

# extracting zipfile from URL
with urlopen(url) as response, open(file_name, 'wb') as out_file:
    shutil.copyfileobj(response, out_file)

    # extracting required file from zipfile
    with zipfile.ZipFile(file_name) as zf:
        zf.extract('fish_stableIsotopes_beaufort_stanek.csv')

# deleting the zipfile from the directory

# loading data from the file
data_fish = pd.read_csv('fish_stableIsotopes_beaufort_stanek.csv')
data_fish

In [ ]:
data_fish.info()

creating new column for only year

In [ ]:
data_fish["Date"] = pd.to_datetime(data_fish['Date'])
data_fish['Year'] = data_fish['Date'].dt.strftime('%Y')
data_fish

In [ ]:
data_fish[data_fish["Date"].isna()]

In [ ]:
df_1 = data_fish.groupby(["Location","Year"],as_index=False)["mmLength"].mean()
df_1

yes, mean length of fish got way bigger between years in 2018 and 2019

## 2) Q3

In [ ]:
df_2 = data_fish.groupby(["Location","Year"],as_index=False)["d13C","d15N"].apply(lambda x : x.mean())
df_2

In [ ]:
df_3 = data_fish.groupby(["Location","Year"]).agg({'d13C' : 'describe',
                                                   'd15N' : 'describe',
                                                   'mmLength' : 'mean'})
df_3

first of all, number of fish decreased after year 2018 that caused bigger length of fish and isotopes of C13 got bigger on the other hand N15 isotopes got bigger except Stefansson Sound
we can only compare year 2017 in fwe locations because we don't have any data on other locations